*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#imageContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw 0;
}

#imageContainer img {
    width: 40vw;
    height: auto;
    border-radius: 10px;
}

#imageContainer p {
    font-size: 2vw;
    padding: 1vw;
    font-weight: bold;
    text-align: center;
}