* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf0f1;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    height: 500px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 10px 50px;
}

td {
    text-align: center;
    background-color: #fff1;
    border: 2px solid #191919;
}

input[type="button"] {
    width: 99px;
    height: 82px;
    font-size: 2rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

input[type="button"]:hover {
    outline: none;
    background-color: #2980b9;
}

input[type="text"] {
    width: 350px;
    height: 80px;
    border: none;
    outline: none;
    font-size: 3rem;
    text-align: right;
}